﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calc</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
   <p>Result = @Model</p>
</body>
</html>
