﻿@model task1.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h2>Детали</h2>
    <table>
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Назва</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Ціна</td>
            <td>@Model.Price</td>
        </tr>
         <tr>
            <td>Опис</td>
            <td>@Model.Description</td>
        </tr>
         <tr>
            <td>Кількість на складі</td>
            <td>@Model.onStock</td>
        </tr>
         <tr>
            <td>Категорія</td>
            <td>@Model.Category</td>
        </tr>
    </table>
</body>
</html>
