﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h2>Список продуктов</h2>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a href="/Products/Details/@item.Id">Детальніше...</a>
                </td>
                <td>
                    @if(item.onStock == 0)
                    {
                        <p>Немає в наявності</p>
                    }
                    else if(item.onStock > 0 && item.onStock < 5)
                    {
                        <p>Закінчується</p>
                    }
                    else
                    {
                        <p>В наявності</p>
                    }
                </td>
            </tr>
        }
    </table>
    @if (Model.Count != 0)
    {
        <p>
            Всего: @Model.Count
        </p>
    }
    else
    {
        <p>
            Список порожній.
        </p>
    }
</body>
</html>


