﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
   <a href="lesson.zip" download="lesson.zip">Click to download file</a>
</body>
</html>
